/* GENERAL STYLING */

:root {
  --clr-brown: #964b00;
  --clr-tan: #d2b48c;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  background-color: green;
}

.site-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 100vh;

  border: solid 4px white;
}

.container {
  outline: solid 1px white;

  /* transform: rotate(45deg); */
}

/* SHARED STYLING */

.bear-head,
.bear-torsal {
  position: relative;
  margin: 0 auto;
  border-radius: 50%;
  background-color: var(--clr-brown);
}

/* BEAR HEAD AND FEATURES*/

.bear-head {
  top: 20px;
  width: 120px;
  height: 120px;
}

/* BEAR TORSAL  */

.bear-torsal {
  width: 170px;
  height: 170px;
}

.bear-torsal::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 120px;
  height: 120px;
  background-color: var(--clr-tan);
  border-radius: 50%;
}

/* BEAR LEGS */

#left-leg,
#right-leg {
  position: absolute;
  top: 50%;

  height: 150px;
  width: 50px;
  background-color: var(--clr-brown);
  border-radius: 20%;
}

#left-leg {
  left: 5%;
  transform: rotate(0deg);
  /* animation: move-leftLeg 1s linear infinite;
  animation-direction: alternate; */
}

#right-leg {
  right: 5%;
  transform: rotate(0);
  /* animation: move-rightLeg 1s linear infinite;
  animation-direction: alternate; */
}

#left-leg::before,
#right-leg::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 40px;
  height: 10px;
  background-color: black;
  border-radius: 20%;
}

/* BEAR ARMS */

#left-arm,
#right-arm {
  position: absolute;
  border-radius: 40%;

  height: 150px;
  width: 50px;
  z-index: -1;
}

#left-arm {
  left: -15%;
  background-color: var(--clr-brown);
  /* animation: move-leftArm 1s linear infinite;
  animation-direction: alternate; */
}

#right-arm {
  right: -15%;
  background-color: var(--clr-brown);
  /* animation: move-rightArm 1s linear infinite;
  animation-direction: alternate; */
}

#left-arm::after,
#right-arm::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);

  width: 30px;
  height: 30px;
  background-color: var(--clr-tan);
  border-radius: 50%;
}

/* BEAR HEART */

#heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: inline;
  font-size: 3.5rem;
  z-index: 2;
}

/* ANIMATIONS */

@keyframes move-leftLeg {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(45deg);
  }
}

@keyframes move-rightLeg {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-45deg);
  }
}

@keyframes move-leftArm {
  0% {
    top: 7%;
    transform: rotate(45deg);
  }
  50% {
    top: -20%;
    transform: rotate(90deg);
  }
  100% {
    top: -40%;
    transform: rotate(135deg);
  }
}

@keyframes move-rightArm {
  0% {
    top: 7%;
    transform: rotate(-45deg);
  }
  50% {
    top: -20%;
    transform: rotate(-90deg);
  }
  100% {
    top: -40%;
    transform: rotate(-135deg);
  }
}
